/MSP/Building_DVWA_platform_by_using_AWS_ECS/terraform/darwin_amd64
/MSP/Building_DVWA_platform_by_using_AWS_ECS/terraform/.terraform.lock.hcl
/MSP/Building_DVWA_platform_by_using_AWS_ECS/terraform/.terraform.tfstate.lock.info
/MSP/Building_DVWA_platform_by_using_AWS_ECS/terraform/terraform.tfstate.backup
/MSP/Building_DVWA_platform_by_using_AWS_ECS/terraform/terraform.tfstate
/MSP/Building_DVWA_platform_by_using_AWS_ECS/terraform/.terraform/
/MSP/waf-provider/Private-server-version/